<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Trang Chủ</a></li>
                <li class="active">Đánh dấu sản phẩm</li>
            </ol>
        </div>
        <!--/breadcrums-->
        <div class="review-payment">
            <h1>Đánh dấu sản phẩm</h1>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản Phẩm</td>
                        <td class="description">Tên Sản Phẩm</td>
                        <td class="price">Giá</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img style="width: 10rem" src="../../../assets/imgs/{{xe[0].imgs}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{xe[0].name}}</a></h4>

                        </td>
                        <td class="cart_price">
                            <p>{{xe[0].price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a style="margin-top: 0" class="btn btn-primary" href="">Xem Sản Phẩm</a>
                            <a style="margin-top: 0" class="btn btn-primary" href="">Mua Sản Phẩm</a>
                            <a class="cart_quantity_delete" href=""><i style="margin-bottom: -10rem;" class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img style="width: 10rem" src="../../../assets/imgs/{{xe[3].imgs}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{xe[3].name}}</a></h4>

                        </td>
                        <td class="cart_price">
                            <p>{{xe[3].price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a style="margin-top: 0" class="btn btn-primary" href="">Xem Sản Phẩm</a>
                            <a style="margin-top: 0" class="btn btn-primary" href="">Mua Sản Phẩm</a>
                            <a class="cart_quantity_delete" href=""><i style="margin-bottom: -10rem;" class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img style="width: 10rem" src="../../../assets/imgs/{{xe[7].imgs}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{xe[7].name}}</a></h4>

                        </td>
                        <td class="cart_price">
                            <p>{{xe[7].price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a style="margin-top: 0" class="btn btn-primary" href="">Xem Sản Phẩm</a>
                            <a style="margin-top: 0" class="btn btn-primary" href="">Mua Sản Phẩm</a>
                            <a class="cart_quantity_delete" href=""><i style="margin-bottom: -10rem;" class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->