<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">ĐIỀU KHOẢN</h2>
            <div class="single-blog-post">
                <p>Đọc những điều kiện bên dưới về việc truy cập và sử dụng sách hướng dẫn sử dụng trực tuyến được cung cấp trên trang web này. Để sử dụng nội dung của sách hướng dẫn sử dụng trực tuyến, bạn cần phải đồng ý và tuân thủ các điều kiện kèm theo. Nếu bạn không đồng ý với các điều kiện, vui lòng không sử dụng nội dung tài liệu dịch vụ trực tuyến.</p>
                <h2>CAM KẾT BẢN QUYỀN</h2>
                <p>Trang mạng này không bao gồm tất cả các tài liệu dịch vụ của tất cả các sản phẩm của Butcaocap. Một số sách hướng dẫn sử dụng, bản sửa đổi hay phụ bản đã được dịch ra ngôn ngữ của quốc gia bạn sẽ không có trong trang này. <br>
                    Hãy tham khảo sách hướng dẫn sử dụng hay các thông tin bổ sung được phát đi kèm với bút dưới dạng nhãn cảnh báo và/hoặc sách hướng dẫn mỗi khi có thể. Nếu những tài liệu này bị mất, hãy hỏi lại nhà phân phối Butcaocap ủy nhiệm nơi bạn mua bút hoặc nhà phân phối Butcaocap ủy nhiệm nơi gần nhất. <br>
                    Việc thay đổi nội dung của tài liệu dịch vụ trực tuyến có thể xảy ra do thay đổi thiết kế sản phẩm mà không cần phải có thông báo trước. Chính vì vậy, trước khi sử dụng nội dung tài liệu dịch vụ trực tuyến, khách hàng cần phải hiểu rằng: có thể sẽ có những khác biệt giữa thông tin trực tuyến và sách hướng dẫn sử dụng đi kèm theo bút.</p>
                <h2>CẢNH BÁO AN TOÀN</h2>
                <p>Các thông tin an toàn đã được đề cập trong sách hướng dẫn sử dụng trực tuyến là dựa trên các quy định pháp luật và sự am hiểu của Butcaocap tại thời điểm xuất bản sách hướng dẫn sử dụng. Có thể các thông tin an toàn trong nội dung trực tuyến không phải là những thông tin an toàn cập nhật nhất. Nếu bạn có bất cứ thắc mắc nào liên quan đến thông tin an toàn, hãy tham khảo nhà phân phối Butcaocap ủy nhiệm nơi bạn mua bút hoặc nhà phân phối Butcaocap ủy nhiệm nơi gần nhất.</p>
                <h2>NỘI DUNG CỦA TRANG NÀY</h2>
                <p>Tài liệu dịch vụ trực tuyến và thông tin trong đó là các tài sản sở hữu trí tuệ thuộc về Butcaocap đã được đăng ký bản quyền. Các tài liệu dịch vụ trực tuyến hoặc các phần của sách hướng dẫn sử dụng trực tuyến không được phép sao chép, tái bản, thay thế hoặc phân phối mà không có sự cho phép của Butcaocap. Tuy nhiên, bạn có thể in ra các nội dung tài liệu dịch vụ trực tuyến để sử dụng cho bút của bạn. Số lượng bản sao chép có thể in ra sẽ bị giới hạn trên từng sản phẩm. <br>
                    Nội dung sách hướng dẫn sử dụng trực tuyến được cung cấp nhằm thuận tiện cho khách hàng. Butcaocap sẽ không chịu trách nhiệm cho bất kỳ sự thiệt hại nào gây ra bởi việc sử dụng nội dung sách hướng dẫn sử dụng trực tuyến hoặc vì không thể sử dụng nội dung sách hướng dẫn sử dụng trực tuyến. <br>
                    Butcaocap cung cấp sổ bảo hành, thẻ bảo hành kèm theo bút. Butcaocap không căn cứ theo nội dung tài liệu dịch vụ trực tuyến để bảo hành cho bất kỳ vấn đề gì, ví dụ như vấn đề an toàn. <br>
                    Trang tài liệu dịch vụ trực tuyến có thể bị tạm khóa, hoặc nội dung có thể thay đổi mà không cần phải có thông báo trước.</p>
            </div>
        </div>
    </div>
</section>