<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">CHÍNH SÁCH CHĂM SÓC KHÁCH HÀNG</h2>
            <div class="single-blog-post">
                <p>Khách hàng là nguồn sống của bất cứ cửa hàng, doanh nghiệp nào. Chính vì thế, chăm sóc khách hàng (CSKH) trở thành một trong những yếu tố sống còn và đòi hỏi rất nhiều đầu tư về công sức và tiền bạc. CSKH không chỉ đơn thuần là bán cho khách hàng bằng sản phẩm, dịch vụ, nó đòi hỏi bạn phải tạo ra sự hài lòng tuyệt đối cho khách hàng đối với sản phẩm, dịch vụ của bạn.</p>
                <p>Bút cao cấp là hệ thống showroom bút ký cao cấp lớn nhất hiện nay tại Việt Nam. Chúng tôi luôn có chính sách chăm sóc cho từng khách hàng:</p>
                <p>Chăm sóc khách hàng đóng vai trò rất lớn trong việc quyết định liệu khách hàng có quay trở lại cửa hàng vào lần sau để tiếp tục sử dụng sản phẩm, dịch vụ của bạn. Một khách hàng được chăm sóc tốt nghĩa là một khách hàng hoàn toàn hài lòng về sự tư vấn, sản phẩm, dịch vụ cung cấp và vẫn tiếp tục nhận được sự quan tâm của cửa hàng ngay cả khi họ chưa có hành vi mua sắm tiếp theo. Những khách hàng này hoàn toàn có thể trở thành khách hàng thân thiết hoặc trở thành khách hàng thiện cảm của cửa hàng và họ chính là cầu nối đưa đến cho cửa hàng bạn những khách hàng tiềm năng thông qua sự giới thiệu của họ.</p>
                <p>Ngược lại, một khách hàng không được chăm sóc tốt và họ cảm thấy không hài lòng về bất kỳ một điểm nào về sản phẩm, dịch vụ hay thái độ phục vụ tại cửa hàng của bạn. Những khách hàng này có nguy cơ trở thành khách hàng phản cảm, họ sẽ là những khách hàng khó chịu và luôn ác cảm với tòan bộ sản phẩm và dịch vụ của cửa hàng. Mọi cố gắng làm hài lòng khách hàng từ trước của bạn trở nên vô nghĩa – họ sẽ rời bỏ bạn, trở thành khách hàng thân thiết của đối thủ, thậm chí còn có thể trở thành một kênh truyền thông tiêu cực – rêu rao về chất lượng sản phẩm dịch vụ của bạn.</p>
                <p>Đến với Bút cao cấp, bạn như đến với thế giới của các loại bút cao cấp, mỗi thương hiệu với một phong cách, sắc thái khác nhau nhưng với cùng một mục đính là làm nổi bật và tôn vinh đẳng cấp người sở hữu chúng. Hãy đến, thử và cảm nhận!</p>
                <span class="a">Các bạn đến trực tiếp showroom sau để xem và mua hàng:</span>
                <ul class="c">
                    <li>♦ SR4: 300A Nguyễn Tất Thành, P 13, Q. 4, Tp.HCM - 032.165.4987</li>
                    <li>♦ SR1: 7 Hoa Hồng, P. 2, Q. PN, Tp.HCM – 08.35.172.173</li>
                    <li>♦ SR2: 115 Hai Bà Trưng, P. BN, Q. 1, Tp.HCM – 08.62.588.588</li>
                    <li>♦ SR3: 201 Đinh Tiên Hoàng, P.TĐ, Q. 1, Tp.HCM – 08. 6295.6688</li>
                    <li>♦ SR4: 173 CMT8, P. 5, Q. 3, Tp.HCM – 08. 6685.1188</li>
                </ul>
                <hr>
                

            </div>

        </div>
    </div>
</section>