<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Trang Chủ</a></li>
                <li class="active">Thanh Toán</li>
            </ol>
        </div>
        <!--/breadcrums-->

        <div class="step-one">
            <h2 class="heading">Thông Tin Khách Hàng</h2>
        </div>
        <div class="checkout-options">
            <h3>Người dùng mới</h3>
            <p>Chọn phương thức thanh toán</p>
            <ul class="nav">
                <li>
                    <label><input type="checkbox"> Tạo ngườI dùng mới</label>
                </li>
                <li>
                    <label><input type="checkbox"> Chỉ thanh toán</label>
                </li>
                <li>
                    <a href=""><i class="fa fa-times"></i>Huỷ Bỏ</a>
                </li>
            </ul>
        </div>
        <!--/checkout-options-->

        <div class="register-req">
            <p>Tạo người dùng mới để xem được lịch sử đơn hàng và tích điểm, hoặc chỉ thanh toán</p>
        </div>
        <!--/register-req-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Thông tin người dùng</p>
                        <form>
                            <input type="text" placeholder="Tên người dùng">
                            <input type="text" placeholder="Tài khoản">
                            <input type="password" placeholder="Mật khẩu">
                            <input type="password" placeholder="Nhập lại mật khẩu">
                        </form>
                        <a class="btn btn-primary" href="">Thanh Toán</a>
                    </div>
                </div>
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <p>Thông tin người nhận</p>
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Tên người nhận">
                                <input type="text" placeholder="Email*">
                                <input type="text" placeholder="Địa chỉ">
                                <input type="text" placeholder="Số điện thoại">
                            </form>
                        </div>
                        <div class="form-two">
                            <form>
                                <select>
                                    <option>-- Thành Phố --</option>
                                    <option>TP. Hồ Chí Minh</option>

                                </select>
                                <select>
                                    <option>-- Quận / Huyện --</option>
                                    <option>Thành phố Thủ Đức</option>
                                    <option>Quận Thủ Đức</option>
                                </select>
                                <select>
                                    <option>-- Phường / Xã --</option>
                                    <option>Phường Tân Phú </option>
                                    <option>Trung tâm quận Thủ Đức </option>
                                </select>
                                <input type="text" placeholder="Số nhà / Hẻm">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Ghi chú</p>
                        <textarea name="message" placeholder="Ghi chú trên đơn hàng"
                            rows="16"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Xem lại giỏ hàng</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản Phẩm</td>
                        <td class="description">Tên Sản Phẩm</td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số Lượng</td>
                        <td class="total">Thành Tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img style="width: 10rem" src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{butcaocap[0].name}}</a></h4>
                            <p>Web ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>{{butcaocap[0].price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{butcaocap[0].price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img style="width: 10rem" src="../../../assets/imgs/{{butcaocap[2].imgs}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{butcaocap[2].name}}</a></h4>
                            <p>Web ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>{{butcaocap[2].price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{butcaocap[2].price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img style="width: 10rem" src="../../../assets/imgs/{{butcaocap[4].imgs}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{butcaocap[4].name}}</a></h4>
                            <p>Web ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>{{butcaocap[4].price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{butcaocap[4].price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->