<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">GIỚI THIỆu</h2>
            <div class="single-blog-post">
                <h1>Về chúng tôi</h1>
                <h2>Ở Butcaocap có gì đặc biệt?</h2>
                <ul>
                    <li>bút nhập khẩu theo đường hải quan chính ngạch (3 quy trình kiểm tra chất lượng nghiêm ngặt).</li>
                    <li>Chuyên nhập sỉ bút nên giá thành luôn tốt nhất thị trường.</li>
                    <li>Hỗ trợ mua bút trả góp với lãi suất ưu đãi.</li>
                    <li>Hỗ trợ vận chuyển bút toàn quốc</li>
                    <li>Khách hàng tham quan và nhận tư vấn miễn phí</li>
                    <li>Chính sách bảo hành thời gian dài</li>
                </ul>
            </div>
        </div>
    </div>
</section>