<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">THƯƠNG HIỆU</h2>
            <div class="single-blog-post">
                <h3>Bút Parker – Thương hiệu bút ký cao cấp phổ biến nhất hiện nay</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../assets/imgs/But-Parker-Chinh-hang-Parker-Viet-Nam.jpg" alt="">
                </a>
                <p>Được thành lập bởi ngài George Parker vào năm 1888. Thương hiệu Parker từ lâu đã gắn liền với độ tin cậy, chất lượng với tay nghề của các thợ thủ công cao cấp. Parker được xem là một người bạn đồng hành, một thương hiệu viết đã gắn liền với cuộc đời của nhiều nhân vật nổi tiếng trong suốt chiều dài 125 năm như nữ hoàng Anh Elizabeth II, Sir Arthur Conam Doyle dùng bút này để ghi lại những chiến tích của Sherlock Holmes. Hiện nay, Parker là thương hiệu phổ biến nhất trên toàn cầu được hầu hết khách hàng tin dùng.</p>
                <br>
                <p>Thế Giới Bút là đại lý chính thức hãng bút ký Parker tại Việt Nam với đầy đủ mẫu mã và chủng loại. Các dòng sản phẩm bút ký do Parker Việt Nam phân phối như Parker Duofold – Parker Premier – Parker Sonnet – Parker Urban – Parker IM – Bút Parker Jotter. Mỗi dòng sản phẩm được hãng sản xuất với 3 chủng loại bút đó là bút máy, bút dạ bi và bút bi. Sản phẩm đều được nhập khẩu từ Châu Âu, có tem 7 màu chống giả, phiếu bảo hành 12 tháng. Quý khách có thể tham khảo các mẫu sản phẩm của Parker Việt Nam ở phần bên dưới.</p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="single-blog-post">
                <h3>Allan D’lious – Bền đẹp và rất tinh tế!</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../assets/imgs/But-ky-Allan-Dlious-Allan-Dlious-Viet-Nam.jpg" alt="">
                </a>
                <p>Thế Giới Bút nhà phân phối độc quyền thương hiệu bút Allan D’lious tại Việt Nam. Với mẫu mã đa dạng, giá cả vừa phải, chất lượng vượt trội. Allan D’lious là chiếc bút nổi tiếng với chất lượng bền, đẹp và rất tinh tế là những gì có ở bút Allan. Một món đồ giúp người chủ nhân trở nên khác biệt ngay ở trong thế giới tinh hoa. Thân bút Allan D’lious thường làm bằng những chất liệu bền để nâng tuổi thọ cho cây bút. Thân bút có khả năng chống va đập rất tốt và có thể tạo nên vẻ tao nhã, lịch lãm. Những kim loại quý đóng vai trò quan trọng trong việc chế tạo ngòi bút, giúp ngòi bút có độ bền và viết đẹp hơn.</p>
                <br>
                <p>Hiện nay, đây là thương hiệu bán chạy nhất hiện nay là sự lựa chọn của hầu hết các doanh nghiệp lớn tại Việt Nam để làm quà tặng cho các sự kiện. Một số dòng viết Allan D’lious điển hình như AD 0302, AD 120, AD 5321, AD 6002, AD cao cấp …Toàn bộ sản phẩm được bảo hành chính hãng 3 tháng. Quý khách có thể tham khảo tất cả dòng bút bên dưới.</p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="single-blog-post">
                <h3>Bút Lamy – Thương hiệu với thiết kế độc đáo đến từ Đức</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i> Mac Doe</li>
                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="../../assets/imgs/But-Lamy-Viet-Nam.jpg" alt="">
                </a>
                <p>Lịch sử thương hiệu Lamy được khắc hoạ cách đây hơn 40 năm, từ một xưởng sản xuất bút viết của cha ông để lại, Manfred Lamy đã xây dưng được một doanh nghiệp rất nổii tiếng với những chiếc bút nhãn hiệu Lamy lừng danh. Lamy trở thành một trong những thương hiệu nổi tiếng nhất thế giới về văn phòng phẩm. Hiện nay ở các nước Tây Âu, Mỹ, Nhật rất nhiều người đang sử dụng những chiếc bút viết này.</p>
                <br>
                <p>Đây là thương hiệu bút ký nổi bật với thiết kế đẹp và ấn tượng. Chất lượng ngòi bút máy tuyệt hảo, thiết kế hiện đại thích hợp với các đối tượng chuyên dùng bút máy như kỹ sư, thiết kế, vẽ phác thảo và những người đam mê viết chữ đẹp. Thế Giới Bút là đại lý chính thức thương hiệu Lamy tại Việt Nam với đầy đủ mẫu mã và chủng loại sản phẩm như Lamy 2000, Lamy Studio, Lamy Al-Star, Lamy Joy, Lamy Safari… Các bạn có thể xem chi tiết tất cả sản phẩm viết lamy ở bên dưới.</p>
                <a class="btn btn-primary" routerLink="/blog-detail">Đọc Thêm</a>
            </div>
            <div class="pagination-area">
                <ul class="pagination">
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>