<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">CHÍNH SÁCH BẢO MẬT</h2>
            <div class="single-blog-post">
                <h2>Mục đích bảo mật thông tin cá nhân khách hàng</h2>
                <p>Butcaocap cam kết chỉ thu thập và sử dụng thông tin cá nhân mang khách hàng với mục đích hoàn toàn phù
                    hợp và tuân thủ theo nội dung của “Chính sách bảo mật” này. <br>
                    Chúng tôi mong muốn quý khách hàng hiểu rõ về những chính sách bảo mật, đồng thời bảo vệ quyền lợi
                    của người sử dụng. Khi cần thiết chúng tôi sẽ được dùng thông tin để liên hệ, nhắc nhở bảo dưỡng
                    định kỳ, tư vấn hỗ trợ khách hàng, …. <br>
                    Những thông tin mà bạn đã cung cấp cho Butcaocap sẽ được sử dụng cho một hoặc tất cả các mục đích
                    sau: <br>

                    – Xử lý các đơn đặt hàng và ý kiến khách hàng trên hệ thống website. <br>

                    – Thông báo về giá bút và hỗ trợ trả góp khách hàng. <br>

                    – Cung cấp thông tin về chương trình khuyến mãi <br>

                    – Thông tin của quý khách sẽ được Butcaocap lưu trữ và giữ bảo mật, sẽ không có một bên thứ ba nào
                    khác được chia sẻ và sử dụng thông tin này.</p>
                <h2>Phạm vi sử dụng thông tin</h2>
                <p>Khi quý khách mua bút tại Butcaocap, chúng tôi sẽ sử dụng thông tin của quý khách để liên lạc tư vấn. Các chương trình khuyến mãi đã và đang áp dụng cho cửa hàng. </p>
                <h2>Thời gian lưu trữ thông tin</h2>
                <p>Butcaocap cam kết sẽ lưu trữ thông tin cá nhân mà khách hàng đã cung cấp trong hệ thống nội bộ của
                    công ty trong suốt quá trình cung cấp dịch vụ cho khách hàng</p>
                <h2>Cách người cung cấp chỉnh sửa dữ liệu cá nhân</h2>
                <p>Quý khách hàng khi cung cấp thông tin có quyền điều chỉnh thông tin cá nhân của mình bằng cách liên
                    hệ trực tiếp, gọi điện thoại theo số hotline hoặc gửi mail vào Email của công ty.</p>
                <h2>Cam kết về bảo mật thông tin của quý khách hàng.</h2>
                <p>Rất thấu hiểu và tôn trọng các thông tin cá nhân mà khách hàng đã cung cấp cho Butcaocap. <br>
                    Trong trường hợp thông tin gặp các vấn đề rủi ro hoặc tin tặc đột nhập và tấn công do phát sinh từ
                    truy cập của người dùng, lỗi phát sinh do đường truyền và bởi các phần mềm gián điệp không hợp pháp
                    khác. Butcaocap sẽ xử lý và khắc phục sự cố ngay lập tức nhằm đảm bảo an toàn thông tin cho khách
                    hàng tốt nhất có thể. Đồng thời, Butcaocap sẽ đưa ra các biện pháp nhằm hồi phục lại dữ liệu nếu
                    chẳng may xảy ra sự cố trên. <br>
                    Butcaocap tạo ra chính sách bảo mật thông tin này nhằm minh chứng cho cam kết về sự an toàn bảo mật
                    thông tin của quý khách hàng. Thông qua chính sách này Butcaocap mong muốn quý khách hàng có thể hiểu
                    được về việc chúng tôi mong muốn mang đến những trải nghiệm và chăm sóc tốt nhất cho khách hàng.
                    <br>
                    Cám ơn quý khách hàng đã tin dùng các sản phẩm của Butcaocap. Chúng tôi cam kết sẽ làm hài lòng tất
                    cả khách hàng của mình bằng cả tấm lòng của mình.</p>
            </div>
        </div>
    </div>
</section>