<section>
    <div class="container">
        <div class="row">
            <app-sidebar></app-sidebar>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                    <a href=""><img style="width: 8rem"
                                            src="../../../assets/imgs/{{butcaocap[0].imgs}}" alt=""></a>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="../../../assets/imgs/new.jpg" class="newarrival" alt="" />
                            <h2>{{butcaocap[2].name}}</h2>
                            <p>Web ID: 1089772</p>
                            <img src="../../../assets/imgs/rating.png" alt="" />
                            <span>
                                <span>{{butcaocap[2].price}}</span>
                                <label>Số lượng</label>
                                <input type="text" value="3" />
                                <button routerLink="/cart" type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Thêm vào giỏ hàng
                                </button>
                            </span>
                            <p><b>Tình trạng:</b> Còn hàng</p>
                            <p><b>Hãng sản xuất:</b> Allan D’lious</p>
                            <a href=""><img src="images/product-details/share.png" class="share img-responsive"
                                    alt="" /></a>
                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12" style="width: 83%;">
                        <ul class="nav nav-tabs">
                            <li><a href="#chatluong" data-toggle="tab">Chất liệu và kiểu dáng</a></li>
                            <li><a href="#kichthuoc_trongluong" data-toggle="tab">Kích thước và trọng lượng</a></li>
                            <li><a href="#coche_cachdung" data-toggle="tab">Cơ chế hoạt động và cách dùng</a></li>
                            <li><a href="#donggoi" data-toggle="tab">Quy cách sản phẩm và đóng gói</a></li>
                            <li><a href="#danhgia" data-toggle="tab">Đánh giá chung</a></li>
                            <li class="full active"><a href="#spcl" data-toggle="tab">Sản Phẩm Cùng Loại</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="chatluong">
                            <div class="col-sm-12">
                                <p>Bút bi Allan D’lious 6002BBK là dòng sản phẩm mới nhất thuộc dòng 6002 mà hãng vừa cho ra mắt vào đầu năm 2021. Cũng như mẫu bút dạ bi Allan D’lious 6002RBK, chiếc bút bi này có thân làm bằng thép không rỉ phủ sơn mài đen bóng cao cấp rất sang trọng và bắt mắt.</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="kichthuoc_trongluong">
                            <div class="col-sm-12">
                                <p>Viết bi Allan D’lious 6002BBK có chiều dài tổng thể là 13.5 cm và đường kính thân 1.2 cm. Trọng lượng của chiếc bút ký này khoảng 130g, khối lượng vừa phải giúp cho người cằm có cảm giác rất chắc tay. Chính đều này sẽ giúp cho bạn kiểm soát tốt nét chữ của mình khi lướt trên giấy. Cầm cây bút trên tay, bạn sẽ có cảm giác như chiếc viết bi Allan D’lious 6002BBK được tạo nên từ hàng trăm bàn tay của những nghệ nhân hàng đầu thế giới vậy. Mọi chi tiết dù nhỏ nhất đều được trau chuốt tỉ mỉ, không hề có một điểm lỗi nào.</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="coche_cachdung">
                            <div class="col-sm-12">
                                <p>Đối với bút bi Allan D’lious 6002BBK dùng cơ chế ngòi bi lăn giúp cho nét viết được mượt mà hơn khi sử dụng. Ngoài ra đây là dòng bút bị thay ruột rất tiện dụng, chỉ cần mua ruột lắp vào là có thể sử dụng tiếp không cầu kỳ không mất thời gian. Mực bi giúp cho cơ chế bi lăn trên đầu ngòi được trơn tru giúp mực đc lưu thông một cách tốt nhất. Loại bút bi này được sử dụng rất rộng rãi trong thị trường Việt Nam hơn 10 trở lại đây.</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="donggoi">
                            <div class="col-sm-12">
                                <p>Allan D’lious 6002BBK có chiếc hộp bút được thiết kế lại rất bắt mắt và sang trọng. Chiếc hộp được trau chuốt đến từng đường nét làm cho người sở hữu cảm nhận được sự đẳng cấp tuyệt vời của dòng bút ký Allan D’lious này rồi. Khi mua bút sẽ kèm 1 phiếu bảo hành chính hãng với thời gian 3 tháng và túi giấy sang trọng.</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="danhgia">
                            <div class="col-sm-12">
                                <p>Allan D’lious 6002BBK có chiếc hộp bút được thiết kế lại rất bắt mắt và sang trọng. Chiếc hộp được trau chuốt đến từng đường nét làm cho người sở hữu cảm nhận được sự đẳng cấp tuyệt vời của dòng bút ký Allan D’lious này rồi. Khi mua bút sẽ kèm 1 phiếu bảo hành chính hãng với thời gian 3 tháng và túi giấy sang trọng.</p>
                            </div>
                        </div>

                        <div class="tab-pane fade active in" id="spcl">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="../../../assets/imgs/{{butcaocap[4].imgs}}" alt="" />
                                            <h2>{{butcaocap[4].price}}</h2>
                                            <p>{{butcaocap[4].name}}</p>
                                            <button routerLink="/cart" type="button"
                                                class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="../../../assets/imgs/{{butcaocap[8].imgs}}" alt="" />
                                            <h2>{{butcaocap[8].price}}</h2>
                                            <p>{{butcaocap[8].name}}</p>
                                            <button routerLink="/cart" type="button"
                                                class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/category-tab-->



            </div>
        </div>
    </div>
</section>