<section>
    <div class="container">
        <div class="blog-post-area">
            <h1 class="title text-center">CHÍNH SÁCH BẢO HÀNH SẢN PHẨM</h1>
            <span class="a">Với phương châm xuyên suốt từ những ngày đầu hình thành Công ty là “Khách hàng là người nuôi sống mình” cho nên <span style="font-weight: 700;color: #ffcd02;">Thế Giới Bút</span> cam kết với tất cả các khách hàng là 100% sản phẩm điều là hàng chính hãng, tuyệt đối nói không với hàng nhái, hàng giả cho nên Quý Khách hàng yên tâm khi đến mua hàng tại hệ thống cửa hàng của <span style="font-weight: 700;color: #ffcd02;">www.butcaocap.com.</span> </span>
            <div class="single-blog-post">
                <p>Chính vì vậy, chính sách bảo hành của Thế Giới Bút rất rõ ràng và minh bạch thông qua 3 tiêu chí sau đây:</p>
                <ul class="a">
                    <li>1. 100% sản phẩm là hàng chính hãng</li>
                    <li>2. Bảo hành tại Trung tâm bảo hành của các hãng bút hoặc tại hệ thống cửa hàng Thế Giới Bút</li>
                    <li>3. Thời gian bảo hành: theo quy định của các hãng bút và được tính bắt đầu từ ngày mua hàng.</li>
                </ul>
            <span class="a">ĐIỀU KIỆN ĐỂ ĐƯỢC BẢO HÀNH:</span>
                <ul class="b">
                    <li>1. Theo chính sách Bảo hành của các hãng bút, tất cả các bút ký chính hãng khi bán ra đều kèm theo một Thẻ hoặc Sổ Bảo Hành có giá trị bảo hành trong thời gian theo quy định của từng hãng bút khác nhau. Mỗi Thẻ hoặc Sổ Bảo Hành chỉ được phát hành kèm theo mỗi chiếc bút ký được bán ra một lần duy nhất và không cấp lại dưới bất kỳ hình thức nào.</li>
                    <li>2.Bảo hành chỉ có giá trị khi bút ký có Thẻ hoặc Sổ Bảo Hành chính thức đi kèm, Thẻ hoặc Sổ Bảo Hành được ghi đầy đủ và chính xác các thông tin như: mã số bút ký, mã đáy của bút ký (nếu có), nơi bán, ngày mua hàng. Thẻ hoặc Sổ Bảo Hành phải được đóng dấu của Đại lý ủy quyền chính thức hoặc Cửa hàng bán ra và còn trong thời hạn bảo hành theo qui định của từng hãng bút.</li>
                    <li>3. Thời gian bảo hành được tính từ ngày mua được ghi trên Thẻ hoặc Sổ Bảo Hành và không được gia hạn sau khi hết thời hạn bảo hành theo qui định của mỗi hãng bút, theo tiêu chuẩn chung thời gian bảo hành của bút ký thường là 12 tháng (01 năm) tùy theo thương hiệu, ngoại trừ có các cam kết đặc biệt khác.</li>
                    <li>4. Chỉ bảo hành miễn phí cho các hư hỏng về các linh kiện bên trong của bút ký được xác định là do lỗi của nhà sản xuất.</li>
                    <li>5. Đông cơ xe đạp điện, xe máy điện bảo hành đổi mới, 1 đổi 1 trong vòng 12 tháng.</li>
                    <li>6. Chỉ bảo hành thay thế mới cho những linh kiện bên trong của bút ký, không thay thế hoặc đổi bằng một chiếc bút ký khác.</li>
                </ul>
                
            <span class="a">KHÔNG BẢO HÀNH:</span>
                <ul class="b">
                    <li>1. Không bảo hành cho những hao mòn thông thường theo thời gian và lão hóa do quá trình sử dụng đối với vỏ, cài, khoen, ngòi, ruột của bút ký (Ví dụ: vỏ móp méo, vết hằn, trầy xước, sờn, phai màu, bong tróc lớp mạ..) trừ trường hợp lỗi kỹ thuật do nhà sản xuất thông báo.</li>
                    <li>2. Không bảo hành cho những hậu quả gián tiếp của việc sử dụng không đúng cách của người sử dụng như: sử dụng bút ký trong khi xông hơi, tắm nước nóng, để bút ký tiếp xúc với các loại hóa chất, axít, chất tẩy rửa có độ ăn mòn cao…</li>
                    <li>3. Không bảo hành cho những hậu quả gián tiếp của việc sử dụng không đúng cách của người sử dụng như: sử dụng bút ký trong khi xông hơi, tắm nước nóng, để bút ký tiếp xúc với các loại hóa chất, axít, chất tẩy rửa có độ ăn mòn cao…</li>
                    <li>4. Không bảo hành cho bút ký bị hư hỏng do ảnh hưởng của thiên tai, hỏa hoạn, lũ lụt, tai nạn hoặc cố tình gây hư hỏng…</li>
                    <li>5. Trong trường hợp mất Thẻ hoặc Sổ Bảo Hành vui lòng liên hệ ngay với chúng tôi để được hỗ trợ. Chúng tôi chỉ hỗ trợ những Thẻ hoặc Sổ Bảo Hành vẫn còn giá trị trong thời hạn bảo hành theo qui định nhưng bị mất, không áp dụng với Thẻ hoặc Sổ Bảo Hành đã hết thời hạn bảo hành.</li>
                </ul>           
            <span class="a2">HẾT HẠN BẢO HÀNH:</span>
                <ul class="b">
                    <li>Nếu bút ký của Quý khách đã hết hạn bảo hành theo tiêu chuẩn, Quý khách có nhu cầu sửa chữa, bảo dưỡng, thay thế linh kiện chúng tôi sẽ báo giá chi phí cụ thể với mức ưu đãi tốt nhất</li>
                </ul>
            <span class="a">KHUYẾN CÁO</span>
            <p class="p">Các nhà sản xuất bút ký cũng có các khuyến cáo như sau:</p>
            <ul class="c">
                <li>Lau sạch bằng khăn giấy khi sử dụng xong để tránh tình trạng oxy hoá do mồ hôi tay;</li>
                <li>Không nên để bút ký gần nơi có từ trường mạnh;</li>
                <li>Tránh những nơi có nhiệt độ cao và thay đổi đột ngột;</li>
                <li>Luôn rửa lại bút ký bằng nước sạch sau khi tắm biển;</li>
                <li>Tránh tiếp xúc chất tẩy rửa, hóa chất, nước hoa, xịt tóc;</li>
                <li>Nếu để lâu không dùng đối với bút máy thì phải xả hết mực ra và sục sạch bằng nước ấm;</li>
                <li>Bút ký phủ PVD hoặc vàng không nên đánh bóng mà chỉ lau bằng khăn đánh bóng chuyên dụng.</li>
            </ul>
            </div>
        </div>
    </div>
</section>