<footer id="footer">
    <!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="single-widget">
                        <h2>Về Chúng Tôi</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/f-gioithieu">Giới Thiệu</a></li>
                            <li><a href="/f-tuyendung">Tuyển Dụng</a></li>
                            <li><a href="/f-dieukhoan">Điều Khoản Của Shop</a></li>
                            <li><a href="/f-baomat">Chính Sách Bảo Mật</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-widget">
                        <h2>Dịch Vụ</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/s-suachuatannoi">Sữa Chữa Tận Nơi</a></li>
                            <li><a href="/s-baohanh">Bảo Hành</a></li>
                            <li><a href="/s-tragop">Trả Góp</a></li>
                            <li><a href="/s-vanchuyen">Vận Chuyển</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-widget">
                        <h2>Sản Phẩm</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/shop">Bút bi</a></li>
                            <li><a href="/shop">Bút dạ bi</a></li>
                            <li><a href="/shop">Bút dạ kim</a></li>
                            <li><a href="/shop">Bút máy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Đăng Ký Để Nhận Tin</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Địa chỉ email" />
                            <button type="submit" class="btn btn-default"><i
                                    class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Đăng ký để nhận được<br />những ưu đãi mới nhất dành chon bạn.</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 Butcaocap Inc. All rights reserved.</p>
                <div class="social-icons pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
<!--/Footer-->