<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Loại Bút</h2>
        <div class="panel-group category-products" id="accordian">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Bút bi</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Bút dạ bi</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Bút dạ kim</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a routerLink="/shop">Bút máy</a></h4>
                </div>
            </div>
        </div>
        <!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Hãng Xe</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/shop"> <span class="pull-right">(12)</span>Montblanc</a></li>
                    <li><a routerLink="/shop"> <span class="pull-right">(6)</span>Waterman Paris</a></li>
                    <li><a routerLink="/shop"> <span class="pull-right">(10)</span>Parker</a></li>
                    <li><a routerLink="/shop"> <span class="pull-right">(9)</span>Allan D’lious</a></li>
                </ul>
            </div>
        </div>
        <!--/brands_products-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="images/home/shipping.jpg" alt="" />
        </div>
        <!--/shipping-->

    </div>
</div>