<header id="header">
    <!--header-->
    <div class="header-middle" style="background: #F7FFEC;">
        <!--header-middle--><div class="wrapper-top py-1">
                <div class="container">
                    <div class="detail">
                        <a class="map-top" href="https://goo.gl/maps/zm4MPY3XfUV6NNmN9"><i class="fa fa-map-marker"></i> Địa chỉ: Nơi nào đó | </a>
                        <a href="tel: 0941 547 945"><i class="fa fa-phone-square"></i> 097 989 9078</a>
                    </div>
                    <div class="social">
                        Social:
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 clearfix">
                    <div class="search_box ">
                        <input class="tiemkiem-input" style="width: 100%;" type="text" placeholder="Tìm Kiếm" />
                        <button class="timkiem-b">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div style="width: 23%;" class="col-md-2 clearfix"></div>
                <div class="col-md-4 clearfix">
                    <div class="logo pull-left">
                        <a routerLink="/index"><img style="width: 100px;" src="./assets/imgs/logo-image-Pen.png" alt="" /></a>
                    </div>
                    
                </div>
                <div class="col-sm-2">
                    <div class="shop-menu clearfix pull-right">
                        <ul class="ts nav navbar-nav">
                            <li><a routerLink="/wishlist"><i class="fa fa-star"></i>Đánh dấu Bút</a></li>
                            <li><a routerLink="/checkout"><i class="fa fa-usd"></i>Thanh Toán</a></li>
                            <li><a routerLink="/cart"><i class="fa fa-shopping-cart"></i>Giỏ Hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row header-border">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a routerLink="/index" >Trang Chủ</a></li>
                            <li><a routerLink="/shop">Sản Phẩm</a></li>
                            <li><a routerLink="/blog">Giới thiệu</a></li>
                            <li class="dropdown"><a routerLink="/index">Dịch vụ</a>
                                <ul role="menu" class="sub-menu">
                                    <li><a routerLink="/s-chamsoc">Chăm sóc khách hàng</a></li>
                                    <li><a routerLink="/s-tragop">Trả Góp</a></li>
                                    <li><a routerLink="/s-suachua">Sửa Chữa</a></li>
                                    <li><a routerLink="/s-baohanh">Bảo Hành</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/contact-us">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3" style="margin-left: 7rem;">
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header>
<!--/header-->