<section>
    <div class="container">
        <div class="blog-post-area">
            <h2 class="title text-center">CHÍNH SÁCH TRẢ GÓP</h2>
            <div class="single-blog-post">
                <span class="a">Hướng dẫn các bước thanh toán trả góp của butcaocap.com</span>
                <ul class="c">
                    <li>Chú ý: Phương thức thanh toán trả góp chỉ áp dụng khi mua tại cửa hàng vì khi chọn phương thức thanh toán bạn cần đến cơ sở gần nhất để làm thủ tục cần thiệt.</li>
                    <li><b>Bước 1:</b> Chọn sản phẩm muốn mua</li>
                    <li><b>Bước 2:</b> Lựa chọn phương thức thanh toán (trả góp)</li>
                    <li><b>Bước 3:</b> Cung cấp thông tin cần thiết để tiến hành làm thủ tục trả góp như: <b>Cmnd, căn cước công dân hoặc bằng lái xe</b></li>
                    <li><b>Bước 4:</b> Khi xong thủ tục bạn có thể mang sản phẩm về và cần trả trước 10% - 20% giá trị sản phẩm
                </ul>
            </div>
            
        </div>
    </div>
</section>